.videoContainer {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  filter: brightness(30%);
}

.container {
  padding: 0;
}

.main {
  min-height: 100vh;
  min-width: 100vw;
}
